/* Fuente de colores base*/
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(270deg, #073f94, #dde4d5);
    margin: 0;
    padding: 0;
    color:  rgb(2, 17, 17);
}

/*Encabezado*/
.header {
    background: linear-gradient(270deg, rgb(11, 66, 148), #dde4d5);
    padding: 40px 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0,2);
}

/*Contenido principal*/
.contenedor {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
